@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500');

$maven: 'Maven Pro', sans-serif;
$roboto: 'Roboto', sans-serif;
$blueBlue: #0091FC;
$darkBlue: #21245D;
$backLight: #F7F9FB;
$fontBlack: #101338;
$darkGray: #818692;

// simple breakpoint mixin
@mixin bp($size) {
  @media only screen and (max-width : $size + px) {
    @content;
  }
}
@mixin bpmin($size) {
  @media only screen and (min-width : $size + px) {
    @content;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:active,
  &:focus {
    outline: none;
  }
}

body {
  width: 100%;
  //min-height: 100vh;
  background-color: white;
}
h1 {
  font-family: $maven;
  font-size: 19px;
  font-weight: 400;
  color: $darkBlue;
  span {
      color: $blueBlue;
      margin: 0 20px;
  }
}

h2 {
  font-family: $maven;
  font-size: 40px;
  line-height: 70px;
  font-weight: 500;
  color: $darkBlue;
  @include bp(1400){
    font-size: 30px;
    line-height: 40px;
  }
}

h3 {
  font-family: $roboto;
  color: $darkBlue;
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
  margin-top: 10px;
  @include bp(1400){
    font-size: 16px;
    line-height: 28px;
  }
}

h4 {
  font-family: $maven;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: $darkBlue;
  margin-bottom: 14px;
}
h5 {
  font-family: $roboto;
  color: $darkBlue;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  font-family: $roboto;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: $fontBlack;
}
p.second {
  font-family: $roboto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $fontBlack;
  width: 60%;
  @include bp(1400){
    width: 80%;
  }
  @include bp(500){
  width: 90%;
  }
}
p.period {
  font-family: $roboto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $darkGray;
  font-style: italic;
}
a {
  font-family: $roboto;
  font-weight: 300;
  line-height: 26px;
  text-decoration: none;
  color: $darkBlue;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  .backgroundColor1 {
    background: $backLight;
    height: 1730px;
    width: 50%;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 146px;
    @include bp(1367){
      height: 1570px;
      top: 190px;
    }
    @include bp(1281){
      height: 1530px;
      top: 180px;
    }
    @include bp(1025){
      height: 1730px;
      top: 150px;
    }
    @include bp(769){
      height: 1710px;
      top: 110px;
    }
    @include bp(500){
      display: none;
    }
    @include bpmin(1500){
      height: 1773px;
      width: 52%;
      top: 165px;
    }
    @include bpmin(2100){
      height: 1873px;
    }
  }
  .backgroundColor2 {
    background: $backLight;
    height: 690px;
    width: 50%;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 2550px;
    @include bp(1367){
      height: 630px;
      top: 2386px;
    }
    @include bp(1281){
      height: 630px;
      top: 2330px;
    }
    @include bp(1025){
      height: 620px;
      top: 2500px;
    }
    @include bp(769){
      height: 600px;
      top: 2430px;
    }
    @include bp(500){
      display: none;
    }
    @include bpmin(1500){
      height: 586px;
      width: 52%;
      top: 2510px;
    }
    @include bpmin(2100){
      height: 640px;
      top: 2690px;
    }
  }
}
.wrapper {
  max-width: 1440px;
  width: 94%;
  margin: 0 auto;
  @include bp(500){
    width: 90%;
  }
}
.text-wrapper {
  max-width: 1440px;
  width: 94%;
  margin: 0 auto;
  @include bp(500){
    width: 90%;
  }
}
.left-wrapper {
  max-width: 1440px;
  width: 94%;
  float: right;
  @include bpmin(1500){
    float: none;
    margin: 0 auto;
  }
  @include bp(500){
    width: 90%;
    float: none;
    margin: 0 auto;
  }
}
ul {
  font-family: $roboto;
  list-style: none;
}

/////////HEADER
.header {
  height: 76px;
  @include bp(500){
    height: 60px;
  }
  width: 100vw;
  background: white;
  position: fixed;
  z-index: 2;
  .navbar {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: -webkit-fill-available;
    .navbarSocial {
      width: 140px;
      height: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      @include bp(500){
      display: none;
      }
    }
  }
}

////heroBanner
.heroBanner {
  #myHeroImage {
    display: none;
    @include bp(500){
    display: block;
    }
  }
  #myHeroImage1 {
    display: block;
    @include bp(1300){
    display: none;
    }
  }
  #myHeroImage2 {
    display: none;
    @include bp(1300){
      display: block;
    }
    @include bp(1025){
      display: none;
    }
  }
  #myHeroImage3 {
    display: none;
    @include bp(1025){
      display: block;
    }
    @include bp(500){
      display: none;
    }
  }
  width: 100vw;
  height: auto;
  z-index: 2;
  .heroBanner_all {
    display: flex;
    width: 100%;
    flex-flow: row;
    @include bp(500){
      flex-flow: column;
    }
    justify-content: space-between;
    .heroBanner_text {
      width: 40%;
      margin-top: 18%;
      @include bp(769){
        width: 46%;
      }
      @include bp(500){
        width: 100%;
        order: 2;
        margin-top: 8%;
      }
      .contact-elements {
        .phone {
          margin-top: -3px;
        }
        .location {
          margin-top: -1px;
        }
        margin-top: 30px;
        display: flex;
        width: 100%;
        flex-flow: row;
        @include bp(1400){
          flex-flow: column;
          height: 140px;
        }
        justify-content: space-between;
        font-family: $roboto;
        font-size: 12px;
        font-weight: 300;
        line-height: 26px;
        color: $darkBlue;
        img {
          margin-right: 3px;
          @include bp(500){
            margin-right: 10px;
          }
        }
        img.contactme {
          @include bp(500){
              margin-right: 7px;
            }
        }
        @include bp(500){
          margin-bottom: 30px;
          font-size: 16px;
          line-height: 42px;
        }
      }
    }
    .heroBanner_image {
      width: 54%;
      @include bp(500){
        width: 100%;
        order: 1;
      }
      img {
        width: 96%;
        float: right;
        margin-top: 18%;
        @include bp(1400){
        margin-top: 25%;
        }
        @include bp(500){
          width: 100%;
          margin-top: 15%;
        }
      }

    }
  }
}


///section-intro
.section-intro {
  @include bp(500){
    margin-bottom: 60px;
  }
}
.intro {
  display: flex;
  z-index: 2;
  width: 94%;
  flex-flow: row;
  @include bp(500){
    flex-flow: column;
  }
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8%;
  margin-bottom: 8%;
  .intro-left {
    width: 42%;
    @include bp(769){
      width: 45%;
    }
    @include bp(500){
      width: 100%;
      margin-bottom: 30px;
    }
    p {
      width: 80%;
      @include bp(500){
        width: 100%;
      }
    }
  }
  .intro-right {
    width: 54%;
    @include bp(500){
      width: 100%;
    }
    .intro-right-text {
      margin-left: 24%;
      @include bp(1400){
        margin-left: 20%;
      }
      @include bp(500){
        margin-left: 0;
      }
      img {
        margin-left: 10px;
      }
      .eachText {
        margin-top: 30px;
      }
    }
  }
}
.first {
  margin-bottom: 2%;
}


.btnToPortfolio {
  margin-top: 8%;
  a {
    color: $darkBlue;
    font-family: $roboto;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    img {
      margin-right: 8px;
      margin-bottom: 2px;
    }
  }
  width: 34%;
  padding: 10px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s;
  font-size: 13px;
  line-height: 2;
  font-family: $roboto;
  font-weight: 500;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: $blueBlue;
  }
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
      @include bp(1025){
        width: 0;
      }
    }
  }
  @include bp(1025){
    width: 64%;
  }
  @include bp(500){
    width: 100%;
    border: 2px solid #2199e8;
    text-align: center;
  }
}

/////footer-section
.footer-contact {
  z-index: 2;
  .footer-contact-elements {
    background: $backLight;
    height: 90px;
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    color: $darkBlue;
    img {
      margin-right: 3px;
    }
  }
  @include bp(500){
  display: none;
  }
}
.MobileFooter {
    background: $backLight;
    height: 90px;
    width: 100%;
    margin: 0 auto;
    display: none;
  .navbarSocial2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    img.fb {
      width: 10px;
    }
    img.insta, img.linkedin, img.github {
      width: 23px;
    }
  }
  @include bp(500){
  display: block;
  }
}
